/* Root variables */
:root {
  --body-bg: #2a2a2a;
  --text-color: white;
  --color-aqua: aqua;
  --color-orange: orangered;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* General reset and styling */
html {
  scroll-behavior: smooth;
}

/* General Styles */
body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  background-color: #f4f4f4;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
.blur {
  /* background: url("./assets/b.jpg"); */
  /* filter: blur(20px); */
  filter: blur(8px);
  opacity: 0.6;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Flexbox utility classes */
.flex {
  display: flex;
  gap: 1rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  overflow: hidden;
  width: 80%;
  margin: auto;
  max-width: 1400px;
}
.title {
  text-align: center;
  margin-bottom: 3rem;
  font-family: "Trirong", serif;
  /* font-family: "Sofia", sans-serif; */
  font-size: 40px;
  text-shadow: 3px 3px 3px #1a1d1c;
}
.animated {
  animation-duration: 10s;
  animation-fill-mode: both;
}

/* ======================= reveal animation ======================================== */

.reveal {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* =================Parallax Section Effect ====================*/
.parallax {
  height: 300px; /* Adjust the height as needed */
  /* background-image: url("./assets/layout-background/bg-2.webp"); Replace with your image */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ================================Header Section ================================ */
header {
  /* background-color: #333; */
  background: linear-gradient(rgb(1, 1, 22), rgba(32, 182, 219, 0.842));
  color: #fff;
}
.logo {
  font-size: 1.3rem;
  position: relative;
  font-weight: bold;
}
.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 28%;
}

.navbar-nav .nav-link {
  color: #fff;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #e8491d;
}

/* ========================================== Hero Section ================================ */

#hero {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  background: url("./assets/layout-background/hbg-1.webp") no-repeat center;

  background-size: cover;

  background-position: center;
  color: #fff;
  position: relative;

  overflow: hidden;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(63, 60, 60, 0.329); /* Black overlay with 50% opacity */
  z-index: 1;
}
.hero-container {
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.left-content {
  z-index: 2;

  backdrop-filter: blur(10px);

  box-shadow: 6px 6px 15px rgba(32, 31, 31, 0.938),
    -6px -4px 15px rgba(239, 239, 245, 0.932);

  border-radius: 20px;
  margin: 10px 10px;
}
#hero .container {
  position: relative;
}

#hero h2 {
  font-size: 3em;
  margin-bottom: 10px;
  animation: slideInLeft 1s ease-in-out forwards;
  color: blue;
}
#hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
  animation: fadeInBottom 1.5s ease-in-out forwards;
  color: rgb(10, 2, 32);
}

#hero p {
  font-size: 1.3em;
  color: white;
  margin-bottom: 20px;
  animation: slideInRight 1.2s ease-in-out forwards;
}

#hero .btn-primary {
  background-color: #fff;
  color: #e8491d;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  animation: fadeInUp 1.4s ease-in-out forwards;
  box-shadow: inset 5px 5px 10px rgba(29, 3, 3, 0.918),
    inset -5px -5px 10px rgba(245, 245, 245, 0.979);
}

#hero .btn-primary:hover {
  background-color: #e8491d;
  box-shadow: 0px -10px 12px 2px rgba(13, 2, 75, 0.815);
  color: #fff;
}
.hr-line {
  width: 98%;
  border: none;
  height: 5px;
  background-color: red;

  opacity: 1;
  z-index: 4;
}
.right-content {
  position: relative;
}

/* ==================== 3D dice implementation ======================   */
.cube {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(30deg);
  animation: rotate 5s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #161515;
}

.front {
  background: url("./assets/layout-background/sus-bg.webp") no-repeat;
  background-size: cover;
  transform: translateZ(100px);
}
.back {
  background: url("./assets/layout-background/bg-2.webp") no-repeat;
  background-size: cover;
  transform: rotateY(180deg) translateZ(100px);
}
.left {
  background: url("./assets/layout-background/abt-para-1.webp");
  /* background: url("./assets/dice-face/face-i.png") no-repeat; */
  background-size: cover;
  transform: rotateY(-90deg) translateZ(100px);
}
.right {
  /* background: url("./assets/myPic.png") no-repeat;
  background-size: cover; */
  transform: rotateY(90deg) translateZ(100px);
}
.top {
  background: url("./assets/layout-background/projects-section.webp") no-repeat;
  /* background: url("./assets/dice-face/face-v.png") no-repeat; */
  background-size: cover;
  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  background: url("./assets/layout-background/fbg-4.webp") no-repeat;
  background-size: cover;
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotate {
  0% {
    transform: rotateX(-30deg) rotateY(30deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(390deg);
  }
}

/* roll dice implementation */
.hidden-dice {
  display: none;
}
.show-hidden-dice {
  display: block;
}

@keyframes spinAnimation {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(720deg) rotateY(720deg);
  }
}

.spin-animation {
  animation: spinAnimation 2s ease-out; /* Adjust duration and easing as needed */
}
/* About Section */
#about {
  padding-bottom: 60px;
  background-color: #fff;

  position: relative;
  /* background: var(--body-bg); */
  background: radial-gradient(rgb(117, 248, 187), rgba(0, 0, 0, 0.911));
  border: 2px solid black;
  padding-top: 10px;
  z-index: 1;
}
#about::before {
  /* margin-top: 80px; */
  /* padding-top: 10px; */
  min-height: 80vh;
  content: "";
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  bottom: 20px;

  background: url("./assets/layout-background/about-bg-4.png") no-repeat center
    center/cover;

  opacity: 0.9; /* Adjust the opacity here */
  background-position: top;
  z-index: -1; /* Send the pseudo-element behind the content */
}

#about .about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  text-align: justify;
  color: black;
  border: 1px dashed black;
}

#about h2 {
  font-size: 2.2em;
  margin-bottom: 15px;
}

.my-bio span {
  font-size: 1.3rem;
  font-weight: bold;
}

#about p {
  font-size: 1.1em;
  line-height: 1.8;
}

#about .btn-secondary {
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

#about .btn-secondary:hover {
  background-color: var(--color-orange);
}

/* ========================= Skills Section =======================================*/
.gradient-bg {
  background: linear-gradient(to right, #e8491d, #f16529);
  color: #fff;
}

#skills {
  padding: 0;
  text-align: center;
  min-height: 60vh;
  overflow: hidden;
  position: relative;
  border: 2px solid black;
}

#skills h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #fff;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 30px 20px;
  border: 2px solid rgba(3, 3, 3, 0.89);
}

.skill {
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  height: 200px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 55px;
  box-shadow: 6px 6px 15px rgba(32, 31, 31, 0.938),
    -6px -4px 15px rgba(239, 239, 245, 0.932);
  backdrop-filter: 10px;
  transition: transform 0.3s ease-in-out, background-color 0.6s ease-in-out;
}

.skill i {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.skill h3 {
  font-size: 1.4em;
}

.skill:hover {
  transform: translateY(-10px);

  background-color: wheat;
  color: var(--color-orange);
  box-shadow: inset 5px 5px 10px rgba(29, 3, 3, 0.918),
    inset -5px -5px 10px rgba(245, 245, 245, 0.979);
  .inner-progressbar {
    color: white;
  }
}
.progressbar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease; /* Smooth transition for width */
}
.outer-progressbar {
  height: 20px;
  width: 80px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -2px -4px 8px 2px rgba(48, 41, 41, 0.7);
  background: floralwhite;
  border-radius: 20px;
  position: relative;
  transition: background-color 0.5s ease; /* Smooth transition for color */
}
.inner-progressbar {
  height: 100%;
  width: 85%;
  background: rgb(70, 70, 212);
  border-radius: 20px;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(66, 143, 245, 0.7),
    -0.5px -0.5px 0px rgb(163, 15, 106), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  transition: transform 0.5s ease; /* Smooth animation for scale or position */
}

/* ==========================================Projects Section============================ */
#projects {
  margin-top: 0px;
  padding: 0px 0;
  border: 2px solid black;
  text-align: center;
  background: url("./assets/completed-projects/prj-2.png") no-repeat;
  background-size: cover;
}
video {
  max-width: 100%;
  height: auto;
}
#projects h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: rgb(10, 2, 32);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
  border: 2px solid black;
}

.project {
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid blue;
  box-shadow: 8px -8px 15px -1px rgba(0, 0, 0, 0.877);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-left: 5px;
  margin-right: 5px;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-content {
  padding: 20px;
}

.project h3 {
  font-size: 1.7em;
  margin-bottom: 15px;
  color: rgba(43, 102, 136, 0.973);
}

.project p {
  font-size: 1.1em;
  margin-bottom: 20px;
}
.completed-project {
  width: 80%;
}

.project-content .links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  color: blue;
  font-size: 20px;
}

.btn-tertiary {
  background-color: #e8491d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.btn-tertiary:hover {
  background-color: #1d0457;
}

.project:hover {
  transform: translateY(-10px);
}

/* =================================== Contact Section ===================================*/
#contact {
  padding: 0;
  text-align: center;
  background: linear-gradient(
      rgba(112, 110, 110, 0.185),
      rgba(235, 223, 223, 0.5)
    ),
    url("./assets/layout-background/contact-1.png");
  background-size: cover;
  border: 2px solid black;
}
#contact .social {
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
}

#contact h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: rgb(10, 2, 32);
  font-weight: bold;
}

#contact p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #0e0225;
}

form {
  max-width: 600px;

  margin: 0 auto;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(16, 1, 32, 0.884);
  backdrop-filter: blur(10px);
  color: #fff;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background: linear-gradient(135deg, #04021b, rgb(20, 20, 20));

  color: #e8491d;
  margin-bottom: 5px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background: #e8491d;
  color: #fff;
}

/* =================================== Footer Section ============================================ */
footer {
  min-height: 20vh;
  background: linear-gradient(
    135deg,
    rgba(4, 4, 65, 0.849),
    rgba(56, 10, 56, 0.486),
    rgb(3, 3, 43)
  );

  color: white;
  margin-top: 5rem;
  position: relative;
  background-size: cover;
  box-shadow: 5px 5px 15px 20px rgb(34, 1, 53); /* Horizontal, Vertical, Blur, Color */
}

.social-links {
  margin-bottom: 15px;
}

.social-links li {
  display: inline-block;
  margin: 0 10px;
}

.social-links li a {
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-links li a:hover {
  color: #e8491d;
}

footer p {
  font-size: 0.9em;
  margin-top: 10px;
}

footer .top {
  margin-top: 15rem;
  margin-bottom: 5rem;
  gap: 5rem;
}

footer .top ul {
  list-style-type: none;
  padding-inline-start: 0;
}

footer .top ul li {
  line-height: 1.5rem;
}

footer .bottom {
  margin-bottom: 1.5rem;
}

.footer-container {
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
}
.footer-top {
  width: 100%;
  justify-content: space-between;

  align-items: center;
  height: 90px;
  margin-bottom: 30px;
  flex-wrap: nowrap;
  background: rgb(6, 59, 95);
  box-shadow: -10px 20px 14px rgba(17, 17, 17, 0.788); /* Horizontal, Vertical, Blur, Color */
}
.footer-top h3 {
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
}
.footer-top p {
  color: rgb(0, 0, 0);
  margin-top: -20px;
  margin-left: 45px;
}

.btn-contact-me {
  background: linear-gradient(rgb(99, 177, 241), rgb(2, 5, 34));
  color: white;
  box-shadow: inset 5px 5px 10px rgba(35, 179, 204, 0.94),
    inset -5px -5px 10px rgba(45, 45, 150, 0.69);
  transition: transform 0.3s ease;
}
.btn-contact-me:hover {
  transform: rotate(35deg);
}
.list-social-network {
  margin-bottom: 15px;
}

.list-social-network li {
  display: inline-block;

  margin: 0 10px;

  transition: transform 0.5s ease;
}
.list-social-network li:hover {
  transform: scale(1.5);
  background: black;
}

.list-social-network li a {
  color: #15066b;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.list-social-network li a:hover {
  color: #e8491d;
}
.footer-bottom-content {
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 30px;
}

.footer-bottom ul li {
  color: black;
}
.footer-bottom ul li a {
  transition: background-color 0.4s ease;
}
.footer-bottom ul li a:hover {
  color: white;
  background-color: rgb(51, 50, 50);
}

/* ================================== Animations ===================================== */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;

    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* =========================== Media Queries =========================== */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }
  .parallax {
    height: 400px;
    /* background-attachment: scroll; */
  }
}
